body {
	font-family: Arial;
	text-align: center;
	margin-top: 30px;
}

.form-group input {
	padding: 10px;
	margin: 5px;
}

#submit {
	padding: 10px 20px;
	cursor: pointer;
}

table {
	margin: 20px auto;
	border-collapse: collapse;
	width: 70%;
}

th, td {
	border: 1px solid #ccc;
	padding: 10px;
}

.delete {
	background-color: red;
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
}